Repository gokcamlarpetrol-glitch/afetnet, changes with the owners that CODEOWNERS names for each.
All owners: @AfetNetTeam, @SecurityTeam, @NetworkTeam, @BackendTeam, @MobileTeam, @QATeam, @DevOpsTeam, @iOSTeam, @AndroidTeam, @DocsTeam, @LeadTeam

feat(core): complete phase 4-6 - backend, git, production
  .tsbuildinfo
  FINAL_REPORT.md
  PROGRESS_REPORT.md
  src/core/components/ErrorBoundary.tsx
  src/core/hooks/useEarthquakes.ts
  src/core/hooks/useMesh.ts
  src/core/hooks/useNetworkStatus.ts
  src/core/hooks/usePremium.ts
  src/core/services/providers/KandilliProvider.ts
Owners: @DocsTeam, @AfetNetTeam

feat(core): complete phase 4-6 - backend, git, production
  .tsbuildinfo
  FINAL_REPORT.md
  PROGRESS_REPORT.md
  src/core/components/ErrorBoundary.tsx
  src/core/hooks/useEarthquakes.ts
  src/core/hooks/useMesh.ts
  src/core/hooks/useNetworkStatus.ts
  src/core/hooks/usePremium.ts
  src/core/services/providers/KandilliProvider.ts
Owners: @DocsTeam, @AfetNetTeam

feat(ui): complete UI migration with premium design
  .tsbuildinfo
  ANALYSIS_REPORT.md
  package-lock.json
  package.json
  src/core/components/badges/StatusBadge.tsx
  src/core/components/buttons/SOSButton.tsx
  src/core/components/cards/EarthquakeCard.tsx
  src/core/components/cards/MeshStatusCard.tsx
  src/core/components/cards/StatsCard.tsx
  src/core/screens/AllEarthquakesScreen.tsx
  src/core/screens/home/HomeScreen.tsx
  src/core/screens/home/index.ts
Owners: @DocsTeam, @AfetNetTeam, @DevOpsTeam

feat(ui): complete UI migration with premium design
  .tsbuildinfo
  ANALYSIS_REPORT.md
  package-lock.json
  package.json
  src/core/components/badges/StatusBadge.tsx
  src/core/components/buttons/SOSButton.tsx
  src/core/components/cards/EarthquakeCard.tsx
  src/core/components/cards/MeshStatusCard.tsx
  src/core/components/cards/StatsCard.tsx
  src/core/screens/AllEarthquakesScreen.tsx
  src/core/screens/home/HomeScreen.tsx
  src/core/screens/home/index.ts
Owners: @DocsTeam, @AfetNetTeam, @DevOpsTeam

feat(backend): add EEW service and complete backend integration
  .tsbuildinfo
  src/core/config/env.ts
  src/core/init.ts
  src/core/services/EEWService.ts
Owners: none

feat(backend): add EEW service and complete backend integration
  .tsbuildinfo
  src/core/config/env.ts
  src/core/init.ts
  src/core/services/EEWService.ts
Owners: none

feat(features): add SOS modal and complete feature integration
  .tsbuildinfo
  MIGRATION_PROGRESS.md
  src/core/components/modals/SOSModal.tsx
  src/core/screens/home/HomeScreen.tsx
Owners: @DocsTeam, @AfetNetTeam

feat(features): add SOS modal and complete feature integration
  .tsbuildinfo
  MIGRATION_PROGRESS.md
  src/core/components/modals/SOSModal.tsx
  src/core/screens/home/HomeScreen.tsx
Owners: @DocsTeam, @AfetNetTeam

docs: add final completion report
  FINAL_COMPLETION_REPORT.md
Owners: @DocsTeam, @AfetNetTeam

docs: add final completion report
  FINAL_COMPLETION_REPORT.md
Owners: @DocsTeam, @AfetNetTeam

chore(cleanup): final cleanup - remove all old dependencies
  .tsbuildinfo
  src/audio/detect.ts
  src/ble/bridge.ts
  src/datapack/loader.ts
  src/datapack/store.ts
  src/datapack/types.ts
  src/export/backup.ts
  src/export/geo.ts
  src/export/ocb.ts
  src/export/pack.ts
  src/export/zip.ts
  src/family/watch.ts
  src/sar/runner.ts
  src/services/OfflineMessaging.ts
  src/watchdogs/core.ts
Owners: @NetworkTeam, @AfetNetTeam, @BackendTeam

chore(cleanup): final cleanup - remove all old dependencies
  .tsbuildinfo
  src/audio/detect.ts
  src/ble/bridge.ts
  src/datapack/loader.ts
  src/datapack/store.ts
  src/datapack/types.ts
  src/export/backup.ts
  src/export/geo.ts
  src/export/ocb.ts
  src/export/pack.ts
  src/export/zip.ts
  src/family/watch.ts
  src/sar/runner.ts
  src/services/OfflineMessaging.ts
  src/watchdogs/core.ts
Owners: @NetworkTeam, @AfetNetTeam, @BackendTeam

CODEOWNERS:

# AfetNet Code Owners Configuration
# This file defines code ownership for automatic reviewer assignment
# Used by Bugbot and GitHub to route PRs to appropriate reviewers

# Core Emergency Features
/src/eew/                    @AfetNetTeam
/src/emergency/               @AfetNetTeam
/src/sos/                     @AfetNetTeam

# Security & Encryption (Critical)
/src/crypto/                  @SecurityTeam @AfetNetTeam
/src/security/                @SecurityTeam @AfetNetTeam
/src/services/MilitaryGradeSecurity.ts  @SecurityTeam

# Network & Mesh
/src/ble/                     @NetworkTeam @AfetNetTeam
/src/mesh/                    @NetworkTeam @AfetNetTeam
/src/offmesh/                 @NetworkTeam
/src/offline/                 @NetworkTeam

# Database & Storage
/src/db/                      @BackendTeam @AfetNetTeam
/src/storage/                 @BackendTeam

# Services & Core Logic
/src/services/                @BackendTeam @AfetNetTeam
/src/stores/                  @BackendTeam
/src/domain/                  @BackendTeam

# UI & Mobile
/src/screens/                 @MobileTeam @AfetNetTeam
/src/components/              @MobileTeam
/src/ui/                      @MobileTeam
/src/navigation/              @MobileTeam

# Testing & Quality
/src/test/                    @QATeam @AfetNetTeam
tests/                        @QATeam @AfetNetTeam
.github/workflows/            @DevOpsTeam @AfetNetTeam

# Configuration & Build
app.config.ts                 @DevOpsTeam @AfetNetTeam
eas.json                      @DevOpsTeam
package.json                  @DevOpsTeam @AfetNetTeam
tsconfig.json                 @BackendTeam

# iOS Platform
ios/                          @iOSTeam @MobileTeam @AfetNetTeam
*.entitlements                @iOSTeam @SecurityTeam

# Android Platform
android/                      @AndroidTeam @MobileTeam @AfetNetTeam
AndroidManifest.xml           @AndroidTeam @SecurityTeam

# Documentation
docs/                         @DocsTeam @AfetNetTeam
README.md                     @DocsTeam @AfetNetTeam
.cursor/rules/                @LeadTeam @AfetNetTeam

# Root Level
/                            @AfetNetTeam
*.md                          @DocsTeam @AfetNetTeam
